here are five functions from the pandas library along with their execution:

1. **read_csv()**: This function is used to read a CSV file and create a DataFrame object¹.
    ```python
    import pandas as pd
    # Read the CSV file and create a DataFrame
    df = pd.read_csv('data.csv')
    # Print the DataFrame
    print(df)
    ```

2. **head()**: This function is used to display the first few rows of a DataFrame¹.
    ```python
    import pandas as pd
    # Create a DataFrame
    df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
    # Display the first 2 rows of the DataFrame
    print(df.head(2))
    ```

#3**groupby()**: This function is used to group the rows of a DataFrame based on one or more columns, and then apply an aggregation function to each group¹.
    
    import pandas as pd
    # Create a DataFrame
    df = pd.DataFrame({'A': [1, 2, 1, 2], 'B': [4, 5, 6, 7]})
    # Group the DataFrame by column 'A' and calculate the mean of column 'B' for each group
    grouped = df.groupby('A').mean()
    # Print the grouped DataFrame
    print(grouped)
    ```

#4. **fillna()**: This function is used to fill missing values in a DataFrame with a specified value or method¹.
   
    import pandas as pd
    import numpy as np
    # Create a DataFrame with missing values
    df = pd.DataFrame({'A': [1, np.nan, 3], 'B': [4, 5, np.nan]})
    # Fill the missing values with 0
    filled = df.fillna(0)
    # Print the filled DataFrame
    print(filled)
    ```

#5. ##**pivot_table()**: This function is used to create a pivot table from a DataFrame¹.
   
    import pandas as pd
    # Create a DataFrame
    df = pd.DataFrame({'A': ['foo', 'foo', 'bar', 'bar'], 'B': ['one', 'two', 'one', 'two'], 'C': [1, 2, 3, 4]})
    # Create a pivot table that shows the mean of column 'C' for each combination of 'A' and 'B'
    pivot = df.pivot_table(values='C', index='A', columns='B', aggfunc='mean')
    # Print the pivot table
    print(pivot)

In [1]:
#Ans2 .
import pandas as pd
import numpy as np

# Define a function to re-index a DataFrame
def reindex_df(df):
    # Create a new index that starts from 1 and increments by 2 for each row
    new_index = np.arange(1, 2*len(df)+1, 2)
    # Set the new index
    df.set_index(new_index, inplace=True)
    return df

# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

# Re-index the DataFrame
df = reindex_df(df)

# Print the DataFrame
print(df)

   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

In [2]:
#Ans 3.

df = pd.DataFrame({'Values': [10,20,30,40,50,60]})

In [3]:
df

   Values
0      10
1      20
2      30
3      40
4      50
5      60

In [4]:
def sum_first_three(df):
    if 'Values' in df.columns:
        if len(df['Values']) >=3:
            total = df['Values'].iloc[:3].sum()
            print("The sum of first three values is " , total)
        else:
            print("The 'Values' column has less than three values.")

In [5]:
sum_first_three(df)

The sum of first three values is  60

In [6]:
#Ans4
pd.set_option("display.max_colwidth" , 1000)
df1 = pd.DataFrame({"Text": ["This market will be settled after the completion of the tournament. If a tournament is abandoned, then bets will be void. In the event of an abandoned match/matches, the non-runner allocation will be applied to this market for settlement purposes. The non-runner allocation will only apply to completely abandoned matches and not to reduced matches." , "My name is Bishu" , "This is my test and learing pandas for data science."]})

In [7]:
df1["word_count"]= df1['Text'].apply(lambda x : len(x.split()))

In [8]:
df1

,Text,word_count
0,"This market will be settled after the completion of the tournament. If a tournament is abandoned, then bets will be void. In the event of an abandoned match/matches, the non-runner allocation will be applied to this market for settlement purposes. The non-runner allocation will only apply to completely abandoned matches and not to reduced matches.",55
1,My name is Bishu,4
2,This is my test and learing pandas for data science.,10

#Ans5
In pandas, `DataFrame.size` and `DataFrame.shape` are two properties that give information about the size of a DataFrame, but they provide different types of information:

- **DataFrame.size**: This property returns the total number of elements in the DataFrame. That is, it returns the number of rows times the number of columns¹². For example, if you have a DataFrame with 5 rows and 3 columns, `DataFrame.size` will return 15¹².

    ```python
    import pandas as pd
    df = pd.DataFrame({'A': range(5), 'B': range(5), 'C': range(5)})
    print(df.size)  # Output: 15
    ```

- **DataFrame.shape**: This property returns a tuple representing the dimensions of the DataFrame¹²³. The first element of the tuple is the number of rows and the second element is the number of columns¹²³. For example, if you have a DataFrame with 5 rows and 3 columns, `DataFrame.shape` will return `(5, 3)'.

    ```python
    import pandas as pd
    df = pd.DataFrame({'A': range(5), 'B': range(5), 'C': range(5)})
    print(df.shape)  # Output: (5, 3)
    ```

So, while `DataFrame.size` gives you the total number of elements in the DataFrame, `DataFrame.shape` gives you the number of rows and columns.

In [10]:
## Ans 6 

import pandas as pd

# Read the Excel file and create a DataFrame
df = pd.read_excel('puzzle.xlsx')

# Print the DataFrame
print(df)

      | Number | Hook                                     | Option 1   | Option 2  | Option 3    | Answer    |
0     |--------|------------------------------------------|------------|-----------|-------------|-----------|
1     | 1      | I speak without a mouth and hear...      | Wind       | Echo      | Sound waves | Echo      |
2     | 2      | The more you take, the more you leave    | Footsteps  | Memories  | Steps       | Footsteps |
3    | 3      | I have keys but open no locks             | Piano      | Keyboard  | Typewriter  | Piano     |
4    | 4      | The person who makes it, sells it...      | Coffin     | Shoes     | Bread       | Coffin    |
5    | 5      | What has a heart that doesn't beat?       | Artichoke  | Clock     | Tomato      | Artichoke |
6    | 6      | The more you feed it, the more...         | Fire       | Baby      | Dog         | Fire      |
7    | 7      | What comes once in a minute...            | Letter 'M' | Hour      | Day         | Letter 'M'|
8   | 8      | The more you take, the more you...         | Breath     | Pictures  | Breaks      | Pictures  |
9   | 9      | I'm tall when I'm young...                 | Candle     | Tree      | Book        | Candle    |
10  | 10     | The one who makes it sells it...           | Shoe       | Hat       | Coffin      | Coffin    |
11  | 11     | I can be cracked, made, told...            | Joke       | Egg       | Window      | Joke      |
12  | 12     | The more you take, the more you...         | Holes      | Memories  | Silence     | Silence   |
13  | 13     | What has keys but can't open locks?        | Piano      | Keyboard  | Door        | Piano     |
14  | 14     | I can fly without wings...                 | Cloud      | Plane     | Time        | Time      |
15  | 15     | The one who speaks it doesn't know...      | Secret     | Language  | Whisper     | Secret    |
16  | 16     | The longer I sit, the taller I get...      | Candle     | Chair     | Flower      | Candle    |
17  | 17     | What has an endless supply of letters?     | Mailbox    | Book      | Alphabet    | Mailbox   |
18  | 18     | I can be cracked, made, told, and...       | Joke       | Egg       | Smile       | Smile     |
19  | 19     | The more you take, the more you...         | Steps      | Air       | Time        | Time      |
20  | 20     | I have keys but no locks...                | Keyboard   | Piano     | Guitar      | Keyboard  |
21   | 21     | I'm light as a feather, yet the...        | Breath     | Cloud     | Feather     | Breath    |
22  | 22     | What has a heart that doesn't beat?        | Artichoke  | Clock     | Tomato      | Artichoke |
23  | 23     | The more you take, the more you...         | Footsteps  | Silence   | Echo        | Silence   |
24  | 24     | What has a head, a tail, is brown...       | Penny      | Snake     | Chocolate   | Penny     |
25  | 25     | What begins and has no end?                | Circle     | Time      | Journey     | Circle    |
26  | 26     | The one who makes it sells it...           | Coffin     | Shoes     | Bread       | Coffin    |
27  | 27     | What has a neck but no head?               | Bottle     | Snake     | Shirt       | Bottle    |
28  | 28     | The more you take, the more you...         | Knowledge  | Money     | Sleep       | Knowledge |

In [11]:
## Ans 7 : 
Email_data = pd.DataFrame({'Email_id': ['jacob@xyz.com', 'kat@gmail.com', 'keish@xyz.com']})

In [18]:
Email_data['Username']= Email_data['Email_id'].str.split('@').str[0]

In [19]:
Email_data

        Email_id Username
0  jacob@xyz.com    jacob
1  kat@gmail.com      kat
2  keish@xyz.com    keish

In [22]:
## Ans 8 :

df2= pd.DataFrame({'A': [3,8,6,2,9],
                  'B': [5,2,9,3,1],
                  'C': [1,7,4,5,2]})

In [23]:
df2

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

In [47]:
def selected_rows(df2):
    selected_rows = df2[(df2['A']>5) & (df2['B'] <10)]
    
    
    return selected_rows

In [48]:
new_row = selected_rows(df2)

In [49]:
new_row

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [51]:
#Ans9  
Cal = pd.DataFrame({'A': [3,8,6,2,9]})

In [52]:
Cal

   A
0  3
1  8
2  6
3  2
4  9

In [54]:
Cal['A'].mean()

5.6

In [55]:
Cal['A'].median()

6.0

In [56]:
Cal['A'].mode()

0    2
1    3
2    6
3    8
4    9
Name: A, dtype: int64

In [57]:
Cal['A'].std()

3.0495901363953815

In [89]:
##Ans 10 

import pandas as pd

def add_moving_average(df):
    # Convert 'Date' to datetime
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Sort by 'Date'
    df = df.sort_values('Date')
    
    # Calculate moving average of 'Sales' with window size 7
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    
    return df
# Create a DataFrame
df = pd.DataFrame({
    'Date': pd.date_range(start='2023-01-01', periods=10),
    'Sales': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
})

# Use the function
new_df = add_moving_average(df)

# Print the new DataFrame
print(new_df)

        Date  Sales  MovingAverage
0 2023-01-01     10           10.0
1 2023-01-02     20           15.0
2 2023-01-03     30           20.0
3 2023-01-04     40           25.0
4 2023-01-05     50           30.0
5 2023-01-06     60           35.0
6 2023-01-07     70           40.0
7 2023-01-08     80           50.0
8 2023-01-09     90           60.0
9 2023-01-10    100           70.0

In [79]:
#Ans 11
Date =  pd.date_range( start = '2023-01-01' , end = '2023-01-05')

In [80]:
Date

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05'],
              dtype='datetime64[ns]', freq='D')

In [81]:
df_date = pd.DataFrame({'Date': Date})

In [82]:
df_date

        Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05

In [83]:
df_date['Updated_date']= pd.to_datetime(df_date['Date'])

In [84]:
df_date.dtypes

Date            datetime64[ns]
Updated_date    datetime64[ns]
dtype: object

In [85]:
df_date['weekday'] = df_date['Updated_date'].dt.day_name()

In [86]:
df_date

        Date Updated_date    weekday
0 2023-01-01   2023-01-01     Sunday
1 2023-01-02   2023-01-02     Monday
2 2023-01-03   2023-01-03    Tuesday
3 2023-01-04   2023-01-04  Wednesday
4 2023-01-05   2023-01-05   Thursday

In [90]:
##Ans 12 
import pandas as pd

def select_rows(df):
    # Convert 'Date' to datetime
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Select rows where 'Date' is between '2023-01-01' and '2023-01-31'
    selected_rows = df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')]
    
    return selected_rows
# Create a DataFrame
df = pd.DataFrame({
    'Date': pd.date_range(start='2022-12-01', end='2023-02-01')
})

# Use the function
new_df = select_rows(df)

# Print the new DataFrame
print(new_df)

# Create a DataFrame
df = pd.DataFrame({
    'Date': pd.date_range(start='2022-12-01', end='2023-02-01')
})

# Use the function
new_df = select_rows(df)

# Print the new DataFrame
print(new_df)

         Date
31 2023-01-01
32 2023-01-02
33 2023-01-03
34 2023-01-04
35 2023-01-05
36 2023-01-06
37 2023-01-07
38 2023-01-08
39 2023-01-09
40 2023-01-10
41 2023-01-11
42 2023-01-12
43 2023-01-13
44 2023-01-14
45 2023-01-15
46 2023-01-16
47 2023-01-17
48 2023-01-18
49 2023-01-19
50 2023-01-20
51 2023-01-21
52 2023-01-22
53 2023-01-23
54 2023-01-24
55 2023-01-25
56 2023-01-26
57 2023-01-27
58 2023-01-28
59 2023-01-29
60 2023-01-30
61 2023-01-31
         Date
31 2023-01-01
32 2023-01-02
33 2023-01-03
34 2023-01-04
35 2023-01-05
36 2023-01-06
37 2023-01-07
38 2023-01-08
39 2023-01-09
40 2023-01-10
41 2023-01-11
42 2023-01-12
43 2023-01-13
44 2023-01-14
45 2023-01-15
46 2023-01-16
47 2023-01-17
48 2023-01-18
49 2023-01-19
50 2023-01-20
51 2023-01-21
52 2023-01-22
53 2023-01-23
54 2023-01-24
55 2023-01-25
56 2023-01-26
57 2023-01-27
58 2023-01-28
59 2023-01-29
60 2023-01-30
61 2023-01-31

##Ans 13
import pandas as pd
pd is a common alias used for pandas. After running this line of code, you can access the pandas functions using the pd prefix. For example, pd.DataFrame() creates a new pandas DataFrame. Remember to replace pd with your actual pandas alias if you used a different alias when importing pandas. The function returns the modified DataFrame with the selected rows.